:root{
	--color-base:						#c4c1ba;
	--color-background:					#f3efe7;
	--color-project-background:			#e7e3db;
	--color-foreground:					#2e2d2c;
	--color-light:						#94928c;
	/*menu*/
	--content-width:					1200px;
	--project-width:					940px;
	--icon-size:						5em;
	--project-margin:					2.5em;
}

*{
	box-sizing: border-box;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

html{
	color: var(--color-foreground);
	background-color: var(--color-base);
	background-image: url("Images/line.png");
	background-repeat: repeat-x;
	overflow: auto;
}

header{
	display: grid;
	grid-template-columns: 3em min-content auto;
	gap: 0;
}

header div{
	background-image: url("Images/line.png");
}

body{
	background-color: var(--color-background);
	max-width: var(--content-width);
	margin: 0 auto;
	overflow: auto;
}

main{
	padding: 0 3em;
	text-align: center;
}

h1{
	margin-top: 2em;
	font-size: 2em;
}

h2{
	font-size: 1.5em;
	margin: 0;
}

h3{
	font-size: 1.5em;
	margin: 0;
	text-transform: uppercase;
}

h4{
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--color-light);
	margin: 0;
}

i{
	margin-right: 0.5em;
}

#about p{
	margin: 0 auto;
	padding: 0 1em;
	max-inline-size: 78ch;
	text-align: center;
}

#links{
	margin-top: 2em;
	display: block;
	text-align: center;
	clear: both;
}

a{
	color: var(--color-foreground);
	background-color: var(--color-background);
	border: 1px solid var(--color-foreground);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	width: 12em;
	height: 3em;
	line-height: 3em;
	margin: 1em 3em;
}

a:hover{
	color: var(--color-background);
	background-color: var(--color-foreground);
}

.position{
	height: var(--icon-size);
	text-align: left;
	display: flex;
	align-items: center;
}

.position hgroup{
	display: inline;
	margin-left: var(--project-margin);
}

.position > img{
	width: var(--icon-size);
	height: var(--icon-size);
	float: left;
}

#projects section{
	border-left: 3px dotted var(--color-foreground);
	margin:  0 calc(var(--icon-size)/2);
	padding: 0 calc(var(--icon-size)/2);
}

.project{
	margin: var(--project-margin);
	padding: 2.5em;
	text-align: left;
	background-color: var(--color-project-background);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.project > div{
	overflow: hidden;
}

.project .genre::before{
	content: "GENRE: ";
	color: var(--color-light);
	font-weight: 600;
}

.project .involvement::before{
	content: "INVOLVEMENT: ";
	color: var(--color-light);
	font-weight: 600;
}

.project ul{
	padding-left: 0;
}

.project li{
	display: inline;
	list-style-type: none;
}

.project li + li::before{
	content: " • ";
}

.project a{
	margin: 0 auto;
}

.graphic{
	aspect-ratio: 16 / 9;
	width: 50%;
	padding-bottom: 5;
	margin: 0 1em 0 0;
	background-color: gray;
	float: left;
}


@media screen and (max-width: 1042px) {
	header{
		grid-template-columns: auto min-content auto;
	}
	main{
		padding: 0;
	}
	a{
		display: block;
		margin: 2em auto;
	}
	.position{
		margin-left: var(--project-margin);
		font-size: 75%;
	}
	#projects section{
		border-left: none;
		margin: 0;
		padding: 0;
	}
	.project{
		margin: var(--project-margin) auto;
		max-width: var(--project-width);
	}
	.graphic{
		width: 100%;
		display: block;
		margin: 0 auto 1em;
		float: none;
	}
}